---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
(b, a) => {
  // First, sort by featured status
  if (a.data.featured && !b.data.featured) {
    return 1;
  }
  if (!a.data.featured && b.data.featured) {
    return -1;
  }
  return a.data.pubDate.valueOf() - b.data.pubDate.valueOf();
}
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child .date-and-tags {
				justify-content: center;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				/* margin-right: 20; */
				color: rgb(var(--gray));
				padding: 0.2em 0.4em; /* Ensuring even padding to make them the same height */
  				margin-right: 0.5em;
				padding-left: 0;
				margin-left: 0;
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			.date-and-tags {
				display: flex;
				align-items: center;
				color: rgb(var(--gray));
				justify-content: space-between; /* Left-align by default */
			}
			.tag-container {
				display: flex;
				align-items: center;
			}
			.tag{
				color: rgb();
				display: flex;
				/* margin-bottom: 0.5em; */
				padding: 0.2em 0.4em; /* Ensuring even padding to make them the same height */
 				margin-right: 0.5em;
				background-color: #f3f3f3;  /* Light gray background */
				color: #333;  /* Dark gray text */
				border-radius: 4px;  /* Rounded corners */
				margin-left: 0.5em;
				/* margin: 4px */
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
					justify-content: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
				ul li .postData{
					justify-content: center;
				}
				.date-and-tags {
					justify-content: center; /* Center-align date and tags on small screens */
				}
			}

			@media (min-width: 720px) {
				.tag-container {
					display: flex;
					align-items: center;
					height: 100%;
				}

				.date, .tag {
					display: flex;
					align-items: center;
					height: 100%; /* Make sure date and tags have the same height */
				}
			}

			.postData{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				flex-direction: row;
				align-content: space-between;
				justify-content: left;
				color: rgb(var(--gray));
				flex-direction: column;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									 
									<div class="date-and-tags">
										<div class="date">
											<FormattedDate date={post.data.pubDate} />
										</div>
										<div class="tag-container">
											{post.data.tags.map((tag) => (
											<div class="tag">
												#{tag}
											</div>
											))}
										</div>
									</div>
										
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
